
<div>

  <h1 class="rotar1" style="margin-bottom: 0; margin-right: 4%">easy </h1>
  <h2 style="margin-top: -2%; margin-left: 2.3%">
    <img class="img1" src="../../../../assets/burger.png" alt="" style="margin-right: 38%; margin-top: -1%; float: right">
      eats
    <img class="img2 rotar2" src="../../../../assets/soda.png" alt="" style="margin-left: 38%; margin-top: -2.5%; float: left;">
  </h2>

</div>


<div id="div1" class="login-page w3-container w3-center w3-animate-bottom">
  <div class="form">
    <form class="login-form">
      <input type="text" placeholder="Nombre de Usuario" name="user" autocomplete="off" [(ngModel)]="user"/>
      <input type="password" placeholder="Contraseña" name="password" autocomplete="off" [(ngModel)]="password"/>
      <button class="btn btn-primary" (click)="autenticacion()">Ingresar</button>
      <p class="message">No estas registrado? <a [routerLink]="['/register']">Crear una cuenta</a></p>
    </form>
</div>
</div>
